<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="mobile">
<div class="container">
    <h1>Vecka 4</h1>


    <div id="grid-container-element">
        <button class="grid-child-element" onclick="buttonColor()" id="button-change-color">MÅNDAG LÄMNA</button>
        <button class="grid-child-element" >MÅNDAG HÄMTA</button>
        <button class="grid-child-element">TISDAG LÄMNA</button>
        <button class="grid-child-element">TISDAG HÄMTA</button>
        <button class="grid-child-element">ONSDAG LÄMNA</button>
        <button class="grid-child-element">ONSDAG HÄMTA</button>
        <button class="grid-child-element">TORSDAG LÄMNA</button>
        <button class="grid-child-element">TORSDAG HÄMTA</button>
        <button class="grid-child-element">FREDAG LÄMNA</button>
        <button class="grid-child-element">FREDAG HÄMTA</button>
    </div>
</div>

    <button class="button" onclick="onSubmit()" id="plan">KLAR</button>

</div>

</body>

<script src="../static/index.js" async></script>
</html>