<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="mobile">
<div class="container">
    <h1>Vecka 4</h1>
    <div class="grid-container-element">
        <div class="grid-child-element" >MÅNDAG LÄMNA</div>
        <div class="grid-child-element" onclick="buttonColor()" id="button-change-color">MÅNDAG HÄMTA</div>
        <div class="grid-child-element">TISDAG LÄMNA</div>
        <div class="grid-child-element">TISDAG HÄMTA</div>
        <div class="grid-child-element">ONSDAG LÄMNA</div>
        <div class="grid-child-element">ONSDAG HÄMTA</div>
        <div class="grid-child-element">TORSDAG LÄMNA</div>
        <div class="grid-child-element">TORSDAG HÄMTA</div>
        <div class="grid-child-element">FREDAG LÄMNA</div>
        <div class="grid-child-element">FREDAG HÄMTA</div>
    </div>

</div>
    <div class="button">KLAR</div>

</div>

</body>

<script src="../static/index.js" async></script>
</html>